body{
  margin: 0;
padding: 0;
  height: 100%;
  width: 100%;
}

.grid-up{
   width: 100%;
   height: 50px;
   background: red;
}

.grid-down{
  width: 100%;
  min-height: 800px;
  background:#ec42f5;
}

.container-left{
  background: #C1A94E;
}
